$logo_font:       'Gotham A', 'Gotham B';
$sans_serif_font: 'Whitney SSm A', 'Whitney SSm B';

$base:              10;
$base_font_size:   #{($base / 16 * 100) + '%'};
$base_line_height: 1.34;

$bg_color:      #fff;
$primary_color: #767676;
$logo_color:    #fdc75e;
