$logo_font:       proxima-nova;
$sans_serif_font: freight-sans-pro, verdana, sans-serif;

$base:              10;
$base_font_size:   #{($base / 16 * 100) + '%'};
$base_line_height: 1.34;

$bg_color:      #fff;
$primary_color: #767676;
$logo_color:    #fdc75e;
