* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: $base_font_size;
  line-height: $base_line_height;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font: {
    family: $sans_serif_font;
    weight: 400;
  }

  background: {
    color: $bg_color;
    image: url(../images/mug.jpg);
    position: center center;
    repeat: no-repeat;
    size: cover;
  }

  color: $primary_color;
}

h1 {
  margin: 0;
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

.extent {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  padding: 4.2rem;
  background-color: $bg_color;
}
