.site-header {
  margin: 0 auto;
  text-align: center;
}

.site-header-title,
.site-header-title-pre {
  text-transform: uppercase;
}

.site-header-title {
  font: {
    size: 8.0rem;
    family: $logo_font;
    weight: 800;
  }

  line-height: 1;
  color: $logo_color;
}

.site-header-title-pre,
.site-header-title-post {
  font-size: 1.8rem;
  color: #a7a9ac;
}

.site-header-title-pre {
  font-weight: 500;
}

.site-header-title-post {
  margin-bottom: 4.8rem;
}

.site-header-nav {
  font: {
    size: 1.8rem;
    family: $logo_font;
  }

  text-transform: uppercase;

  a {
    color: $logo_color;
    text-decoration: none;
  }
}

@media only screen and (max-width: 488px) {
  .site-header-title {
    font-size: 6.0rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .site-header-title {
    font-size: 4.0rem;
  }
}
